.WebBuilderApp {
  background-color: black;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  .Editor {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    #gjs {
      flex: 7;
      height: 100%;
      box-sizing: border-box;
    }
    #blocks {
      flex: 1;
      padding: 16px;
      background-color: white;
    }
  }
}
